## TUPLES

### Absolutely UN-changeable!!

In [1]:
# Creating an empty tuple
tup1 = tuple()

In [2]:
tup1 = ("Snehal", "Naisha", "Pradhan")
print(tup1)

('Snehal', 'Naisha', 'Pradhan')

In [3]:
## Accessing tuple items
print(tup1[0], tup1[-1], tup1[1:3])

Snehal Pradhan ('Naisha', 'Pradhan')

## We need to convert a tuple into list to be able to update individual items

In [4]:
## Doesn't work this way
## tup1[0] = "Nemo"

In [5]:
tup1 = ("Nemo", "Snehal", "Naisha")
print(tup1)

('Nemo', 'Snehal', 'Naisha')

In [6]:
list1 = list(tup1)
list1[0] = "Dory"
tup1 = tuple(list1)
tup1

('Dory', 'Snehal', 'Naisha')

In [7]:
# Adding items to a tuple
tup2 = ("Mufasa", "Simba", "Zazu")
# Since tuples are IMMUTABLE, once again conversion to list is needed
list2 = list(tup2)
list2.append("Timon")
tup2 = tuple(list2)
tup2

('Mufasa', 'Simba', 'Zazu', 'Timon')

In [8]:
tup1.count("Naisha")

1

In [9]:
tup1.index("Snehal")

1

In [10]:
tup1

('Dory', 'Snehal', 'Naisha')

## Tuple with only 1 item still requires a comma (,)

In [11]:
my_tup1 = ("Snehal")
type(my_tup1)

str

In [12]:
my_tup2 = ("Snehal", )
type(my_tup2)

tuple

## Unpacking a Tuple

In [13]:
tup1

('Dory', 'Snehal', 'Naisha')

In [14]:
(Fish, Girl, Baby) = tup1
print(Fish)

Dory

In [15]:
tup2

('Mufasa', 'Simba', 'Zazu', 'Timon')

In [16]:
(Lion, Cub, Bird, *Blah) = tup2     # Asterisk assigns the remaining items to 'Blah'
print(Blah)

['Timon']

## Looping through a Tuple

In [17]:
for i in range (len(tup2)):
    print(tup2[i])

Mufasa
Simba
Zazu
Timon

## Joining Tuples

In [18]:
tup3 = tup1 + tup2
tup3

('Dory', 'Snehal', 'Naisha', 'Mufasa', 'Simba', 'Zazu', 'Timon')

In [19]:
tup4 = tup2 * 2
tup4

('Mufasa', 'Simba', 'Zazu', 'Timon', 'Mufasa', 'Simba', 'Zazu', 'Timon')